table{
    background-color: rgb(223, 219, 219) 
}

tr {
    box-shadow: -3px -3px 8px #888888;
}

td{
    font-weight: bold;
}

td, th {
    padding: 10px;
    text-align: center;
    margin: 0px;
    font-size: 15px;
}

.visible, .hide{
    display:none;
}

button, #add {
    background-color: rgb(164, 172, 169);
    padding: 5px 10px;
}

.iputSize{
    width: 160px;
    height: 25px;
    font-size: 18px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}